baseUrl=http://peeldev1.library.ualberta.ca

browser=firefox
#browser=safari
#browser=iexplorer
#browser=chrome

peel-www.content=unknown
#peel-www.content=peel-www
#peel-www.content=production 

peel-www.ui=unknown
#peel-www.ui=solr4.1

peel-solr.content=unknown
#peel-solr.content=peel-solr
#peel-solr.content=production

